<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>LangToolFilter</filter-name>
    <filter-class>langtool.web.LangToolFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LangToolFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>langtool.web.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>op</servlet-name>
    <servlet-class>langtool.web.OpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>op</servlet-name>
    <url-pattern>op</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>